.header, .header__searchIcon {   
    background-color: rgb(216, 187, 249);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 52;
    height: 100px;  
}

.header__logo {
    position: relative;
    width: 32%;
    margin-left: 50px;
    padding: 10px;
    object-fit: contain;
}

.header__search {
    display: flex;
    flex: 1;
    margin: 30px 30px;
}

.header__search input {
    border: 2px solid black;
    border-radius: 50px;
}

.header__search input:focus{
    outline: none;
    border: 3px solid rgb(255, 121, 144);
}

.header__searchIcon {
    height: 22px !important;
    padding: 5px;
}

.header__searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__link {
    color: black;
    text-decoration: none;
    background-color: rgb(216, 187, 249);
}

.header__optionLineOne {
    font-size: 15px;
    font-weight: 500;
}

.header__optionLineTwo {
    font-weight: 600;
    font-size: 13px;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;
    transition: 0.1s;
}

.header__option:hover, .header__optionBasket:hover {
    color: #9c39ff;
    cursor: pointer;
}

.header__optionBasket {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header__basketCount {
    margin-left: 10px;
    margin-right: 20px;
}

.header__optionBasket {
    display: flex;
    justify-content: space-evenly;
}